In [2]:
import pandas as pd
import numpy as np

In [163]:
# Script:
# otto-find-ich-gut/h2onew.R
sub_h2o1 = pd.read_csv("../h2onewsubmission100epochs.csv")
sub_h2o2 = pd.read_csv("../h2onewsubmission250epochs.csv")

# Script:
# IPython_Submissions/XGBoost.py
sub_xgb1 = pd.read_csv("xgboostpython_full_submission.csv")
sub_xgb2 = pd.read_csv("xgboostpython_full_submission_2.csv")

# Script:
# IPython_Submission/keras.py
sub_keras1 = pd.read_csv("keras/keras-otto-final.csv")
sub_keras2 = pd.read_csv("keras/keras-otto-final-new_seed.csv")

# Script:
# IPython_Submissions/lasagne.ipynb
sub_lasagne = pd.read_csv("lasagne-otto-final.csv")

In [177]:
final_sub.iloc[:,1:].sum(axis=1)

0         18.670000
1         18.670000
2         18.670000
3         18.670000
4         18.670000
5         18.670000
6         18.670000
7         18.670001
8         18.670000
9         18.670000
10        18.670000
11        18.670000
12        18.670000
13        18.670000
14        18.670000
15        18.670000
16        18.670000
17        18.670000
18        18.670000
19        18.670000
20        18.670000
21        18.670000
22        18.670000
23        18.670000
24        18.670000
25        18.670000
26        18.670000
27        18.670000
28        18.670000
29        18.670000
            ...
144338    18.670000
144339    18.670000
144340    18.670000
144341    18.670000
144342    18.670000
144343    18.670000
144344    18.670000
144345    18.670000
144346    18.670000
144347    18.670000
144348    18.670000
144349    18.670000
144350    18.670000
144351    18.670000
144352    18.670000
144353    18.670000
144354    18.670000
144355    18.670000
144356    18.670000
144357    18.670000
144358    18.670001
144359    18.670000
144360    18.670000
144361    18.670000
144362    18.670000
144363    18.670000
144364    18.670000
144365    18.670000
144366    18.670000
144367    18.670000
dtype: float64

In [6]:
sub_h2o.iloc[:,1:] = sub_h2o.iloc[:,1:] / 10

In [7]:
sub_h2o.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,5.857442e-05,4.626858e-01,6.674177e-02,4.667281e-01,6.479954e-05,0.000212,3.425652e-03,2.027943e-05,6.297813e-05
1,2,9.378427e-06,2.923157e-07,2.952651e-08,1.145371e-09,1.363846e-07,0.590452,1.457885e-05,4.095223e-01,9.393301e-07
2,3,3.410642e-22,1.352514e-26,9.120481e-28,5.980626e-22,3.247972e-20,1.000000,2.358605e-20,1.041190e-12,5.016198e-18
3,4,4.349019e-05,6.902663e-01,3.057879e-01,3.122839e-03,1.769797e-05,0.000252,2.793246e-04,1.045899e-04,1.254831e-04
4,5,5.481470e-01,1.208521e-05,3.451691e-07,5.966768e-09,4.669114e-05,0.000411,6.790409e-05,7.819863e-02,3.731161e-01

In [44]:
sub_xgb.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,0,0.000065,0.099593,0.101293,0.796457,0.000027,0.000074,0.002411,0.000060,0.000020
1,1,0.001052,0.005710,0.000795,0.000366,0.000733,0.352757,0.002069,0.635185,0.001334
2,2,0.000003,0.000004,0.000008,0.000001,0.000001,0.999741,0.000011,0.000225,0.000006
3,3,0.000093,0.703459,0.293952,0.001916,0.000046,0.000037,0.000076,0.000091,0.000330
4,4,0.082146,0.000084,0.000074,0.000030,0.000069,0.001542,0.000931,0.022356,0.892769

In [45]:
sub_keras.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,0.000901,0.136020,0.146416,0.709276,0.000209,0.000136,0.006636,0.000038,0.000367
1,2,0.001816,0.000276,0.000235,0.000182,0.000094,0.912390,0.001858,0.081311,0.001838
2,3,0.000004,0.000001,0.000001,0.000002,0.000001,0.999895,0.000002,0.000079,0.000015
3,4,0.000101,0.604385,0.387447,0.007138,0.000088,0.000012,0.000275,0.000040,0.000513
4,5,0.232752,0.000010,0.000005,0.000008,0.000009,0.002793,0.000100,0.002408,0.761914

In [47]:
sub_lasagne.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,2.387399e-07,2.708018e-01,6.968976e-01,3.229717e-02,4.196119e-08,1.474904e-08,1.644990e-06,2.175417e-07,1.324539e-06
1,2,7.138240e-04,6.314288e-05,9.900457e-04,1.122359e-03,1.573249e-02,6.289130e-01,7.459359e-04,3.035557e-01,4.816344e-02
2,3,1.100291e-21,6.698976e-30,0.000000e+00,1.775306e-31,2.462958e-29,1.000000e+00,9.644051e-18,1.758720e-08,1.648871e-18
3,4,2.475679e-18,9.993417e-01,6.582861e-04,8.822504e-11,1.299593e-16,1.497198e-18,1.087121e-19,2.361974e-15,9.908502e-16
4,5,8.989321e-02,5.468218e-19,1.115932e-26,6.540248e-25,1.616271e-20,3.889634e-13,4.168990e-19,1.374337e-08,9.101068e-01

In [138]:
# Best with erf

{'book_time': datetime.datetime(2015, 5, 18, 20, 53, 2, 244000),
 'exp_key': None,
 'misc': {'cmd': ('domain_attachment', 'FMinIter_Domain'),
  'idxs': {'h2o1': [146],
   'h2o2': [146],
   'keras1': [146],
   'keras2': [146],
   'lasagne': [146],
   'xgb1': [146],
   'xgb2': [146]},
  'tid': 146,
  'vals': {'h2o1': [0.16084007414048967],
   'h2o2': [0.0827924702146814],
   'keras1': [0.11100525936985237],
   'keras2': [0.20021835702121138],
   'lasagne': [0.06959388251636095],
   'xgb1': [0.501948739755188],
   'xgb2': [0.1353357383090963]},
  'workdir': None},
 'owner': None,
 'refresh_time': datetime.datetime(2015, 5, 18, 20, 53, 3, 117000),
 'result': {'loss': 0.482398370390292, 'status': 'ok'},
 'spec': None,
 'state': 2,
 'tid': 146,
 'version': 0}

# Best
{'h2o2': 0.1485784277125165, 'h2o1': 0.2086879926921451, 'delta': 0.07525686376394913, 'lasagne': 0.06622641736203685, 'keras1': 0.6082247004109025, 'keras2': 0.46473128923136875, 'factor': 0.018501755643161387, 'xgb1': 0.9995725396719578, 'xgb2': 0.7378145263466309}

In [174]:
final_sub = 0.3 * sub_keras1 + \
            0.3 * sub_keras2 + \
            1 * sub_h2o1 + \
            1 * sub_h2o2 + \
            0.07 * sub_lasagne + \
            1 * sub_xgb1 + \
            1 * sub_xgb2

In [175]:
final_sub['id'] = range(1, len(sub_h2o) + 1)

In [171]:
final_sub.iloc[:, 1:] = final_sub.iloc[:, 1:].applymap(erf)

In [176]:
final_sub

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,0.001080,6.007681,1.262214,11.348288,0.000944,0.002559,0.045977,0.000368,0.000889
1,2,0.002963,0.012076,0.002012,0.000912,0.002604,10.236552,0.005031,8.400923,0.006928
2,3,0.000008,0.000009,0.000017,0.000003,0.000001,18.669429,0.000028,0.000488,0.000016
3,4,0.000909,11.252759,7.363344,0.042137,0.000388,0.002831,0.003687,0.001544,0.002402
4,5,7.998021,0.000298,0.000156,0.000064,0.000722,0.010308,0.002615,1.183153,9.474663
5,6,0.000480,8.704900,9.930350,0.003139,0.001388,0.006516,0.006181,0.016570,0.000477
6,7,0.000450,0.002043,0.003667,0.000647,0.000019,0.006622,0.016855,18.638905,0.000792
7,8,0.000132,18.608285,0.046507,0.009228,0.000206,0.000412,0.004869,0.000268,0.000095
8,9,0.004946,11.352822,6.200793,1.028583,0.001999,0.008657,0.066922,0.003228,0.002050
9,10,0.071778,12.405661,2.837399,0.009652,0.018156,0.580868,0.517816,2.216094,0.012577
10,11,0.020858,11.026109,3.490572,1.839967,0.019881,0.085801,2.172133,0.008707,0.005972
11,12,0.798906,0.000455,0.000196,0.000101,0.001086,0.190227,0.000151,0.013555,17.665324
12,13,0.000241,0.000407,0.000029,0.002528,18.666360,0.000084,0.000052,0.000123,0.000175
13,14,0.002006,18.302301,0.250086,0.050579,0.006466,0.015259,0.015275,0.012110,0.015919
14,15,0.414712,15.660161,1.438777,0.141640,0.060380,0.064725,0.259784,0.049998,0.579824
15,16,5.068314,0.001400,0.001202,0.000211,0.000511,0.179384,9.577377,3.835910,0.005691
16,17,0.002319,0.000017,0.000008,0.000059,0.000010,18.666456,0.000134,0.000508,0.000489
17,18,0.000018,0.000039,0.000123,0.000012,0.000005,18.669556,0.000024,0.000142,0.000082
18,19,0.000784,0.000851,0.000284,0.023638,18.637282,0.003609,0.002922,0.000408,0.000222
19,20,0.000659,17.894946,0.539825,0.167457,0.000536,0.015536,0.047817,0.001745,0.001478
20,21,0.000759,0.000014,0.000008,0.000184,0.000033,18.667598,0.000068,0.000777,0.000557
21,22,0.021041,0.000049,0.000040,0.000021,0.000014,0.002127,0.004958,18.640994,0.000757
22,23,0.060733,10.498074,3.155993,4.312664,0.010412,0.177637,0.277068,0.033897,0.143520
23,24,0.115778,0.002171,0.000892,0.000391,0.001409,0.347862,0.001531,17.749086,0.450882
24,25,7.671031,0.000956,0.000497,0.000435,0.001882,1.465115,0.006551,0.317205,9.206329
25,26,0.043872,0.000064,0.000043,0.000015,0.000061,0.000371,0.000561,18.624685,0.000328
26,27,0.000561,1.812477,16.657104,0.187362,0.000186,0.001503,0.007584,0.002407,0.000816
27,28,0.001313,17.671147,0.932095,0.042933,0.002729,0.003671,0.012833,0.002012,0.001267
28,29,0.000382,13.524547,5.093432,0.037588,0.000263,0.007914,0.004791,0.000736,0.000347
29,30,0.000579,3.429710,15.233382,0.001896,0.000614,0.001153,0.000449,0.000788,0.001429
...,...,...,...,...,...,...,...,...,...,...
144338,144339,0.023875,4.199355,4.835934,0.709346,0.004270,0.267002,8.561671,0.049564,0.018983
144339,144340,0.000081,0.000146,0.000113,0.000070,0.000016,18.668856,0.000431,0.000177,0.000109
144340,144341,0.398675,6.274134,5.886274,0.540658,0.009235,1.186179,3.787868,0.529464,0.057513
144341,144342,0.000190,16.378964,2.158769,0.129858,0.000260,0.000680,0.000868,0.000233,0.000177
144342,144343,0.000009,0.000040,0.000014,0.000019,0.000004,18.669614,0.000044,0.000214,0.000042
144343,144344,0.001934,0.000008,0.000014,0.000003,0.000004,0.000614,0.000212,18.666299,0.000912
144344,144345,0.000605,17.526303,1.086424,0.043525,0.000565,0.004505,0.005831,0.001893,0.000350
144345,144346,0.020531,0.000656,0.000067,0.002300,0.000477,18.513557,0.005425,0.122163,0.004823
144346,144347,0.000229,0.000259,0.000063,0.000400,18.664301,0.000335,0.000218,0.003900,0.000297
144347,144348,0.004484,9.644111,6.637278,2.234579,0.006248,0.022120,0.102293,0.004001,0.014885
144348,144349,0.003674,17.275408,1.083369,0.265130,0.002504,0.006776,0.017240,0.001761,0.014139
144349,144350,0.001724,11.702443,6.816021,0.094974,0.002291,0.009215,0.037616,0.004392,0.001323
144350,144351,0.001857,0.000101,0.000083,0.002938,0.000078,18.648713,0.003102,0.011393,0.001735
144351,144352,0.002574,17.234911,1.063636,0.338838,0.001972,0.007918,0.009383,0.009315,0.001453
144352,144353,0.002195,18.547974,0.109644,0.002083,0.000142,0.000599,0.002190,0.003503,0.001670
144353,144354,0.009467,0.000924,0.000158,0.000361,0.000075,8.272455,0.000159,0.011088,10.375313
144354,144355,0.160954,0.014591,0.006405,0.001967,0.000612,17.354148,0.968468,0.053436,0.109420
144355,144356,0.009183,0.000240,0.000048,0.000422,0.000081,15.246486,0.000978,3.411556,0.001007
144356,144357,13.144140,0.000010,0.000014,0.000021,0.000018,0.000795,0.000158,5.523559,0.001285
144357,144358,0.000077,0.000860,0.000027,0.000146,18.668673,0.000024,0.000026,0.000067,0.000100
144358,144359,0.003121,0.000090,0.000052,0.000934,0.000310,18.636387,0.001056,0.017580,0.010470
144359,144360,0.008663,16.100858,2.256930,0.140400,0.011668,0.016680,0.088148,0.017117,0.029537
144360,144361,0.013996,0.000106,0.000118,0.000034,0.000021,0.053872,18.600492,0.001134,0.000227
144361,144362,0.001636,13.856442,4.372964,0.397117,0.002856,0.008891,0.024658,0.002889,0.002547
144362,144363,0.001662,0.900463,3.863318,5.466460,0.000355,0.003155,8.428869,0.002897,0.002820
144363,144364,7.409730,0.018747,0.004172,0.033104,0.002478,10.538839,0.365911,0.139880,0.157138
144364,144365,0.006926,8.558544,6.989796,0.515859,0.003252,0.036161,2.551766,0.005987,0.001709
144365,144366,0.001257,15.310701,3.149441,0.165138,0.000686,0.005809,0.034857,0.001719,0.000392
144366,144367,0.000712,9.542067,0.138875,8.967105,0.004284,0.006695,0.009106,0.000271,0.000885
144367,144368,0.003035,11.461849,6.121514,0.166619,0.002200,0.026204,0.883284,0.004322,0.000972

In [168]:
final_sub.iloc[:,1:] = final_sub.iloc[:,1:] / 8.15

In [178]:
final_sub.to_csv("master_submission_last_day_hyperopt_non_erf.csv", index=False)

In [161]:
final_sub.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,1,0.000271,0.683058,0.198820,1.406003,0.000135,0.000325,0.006938,0.000066,0.000158
1,2,0.000968,0.003424,0.000581,0.000266,0.000652,1.255038,0.001545,1.031466,0.001834
2,3,0.000003,0.000003,0.000005,0.000001,0.000000,2.295605,0.000008,0.000144,0.000006
3,4,0.000141,1.474877,0.812946,0.006283,0.000067,0.000324,0.000480,0.000201,0.000455
4,5,0.833727,0.000064,0.000044,0.000019,0.000099,0.001971,0.000628,0.121195,1.338028

# Cross-validation stuff

In [129]:
from hyperopt import fmin, tpe, hp, Trials, STATUS_OK
import functools

space = {'keras1' : hp.uniform('keras1', 0, 1),
         'keras2' : hp.uniform('keras2', 0, 1),
         'h2o1' : hp.uniform('h2o1', 0, 1),
         'h2o2' : hp.uniform('h2o2', 0, 1),
         'lasagne' : hp.uniform('lasagne', 0, 1),
         'xgb1' : hp.uniform('xgb1', 0, 1),
         'xgb2' : hp.uniform('xgb2', 0, 1),
#         'delta' : hp.uniform('delta', 0, 0.1),
#         'factor' : hp.uniform('factor', 0, 0.1)
        }

In [56]:
sample_sub = "../submissions/sampleSubmission.csv"
sample_sub_df = pd.read_csv(sample_sub)

def normalize(row, epsilon=1e-15):
    
    row = row / np.sum(row)
    row = np.maximum(epsilon, row)
    row = np.minimum(1 - epsilon, row)
    
    return row
    
def logloss_mc(y_true, y_probs):
    
    # Normalize probability data frame
    y_probs = y_probs.apply(normalize, axis=1)
        
    log_vals = []
        
    for i, y in enumerate(y_true):
        c = int(y.split("_")[1])
        log_vals.append(- np.log(y_probs.iloc[i,c - 1]))
        
    return np.mean(log_vals)

In [76]:
# Postprocessing
postprocessor(sub, delta=1, factor=2).head()

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,0.005402,3.681579,8.640329,1.291928,0.005058,0.004296,0.035433,0.008246,0.005818
1,0.005828,3.345381,9.502687,0.237102,0.001799,0.001717,0.054261,0.001542,0.001614
2,0.021221,12.459720,0.422423,0.475046,0.004015,0.038284,0.013072,0.011289,0.095210
3,0.002078,12.186076,1.468934,0.135585,0.004430,0.001920,0.008600,0.002229,0.004073
4,0.016144,10.581499,2.057294,0.633864,0.009374,0.013664,0.030275,0.009555,0.009537

In [154]:
from math import erf

def postprocessor_helper(x, delta, factor):
    if x < delta:
        return x * factor
    else:
        return x
    
def postprocessor(df, delta, factor):
    return df.applymap(functools.partial(postprocessor_helper,
                                         delta = delta,
                                         factor = factor))


def postprocessor_platt_helper(x, a, b):
    return x + a * (b - x)
    
def postprocessor_platt(df, a, b):
    return df.applymap(functools.partial(postprocessor_platt_helper,
                                         a = a,
                                         b = b))

def postprocessor_no_args_helper(x):
    return erf(x)
    #return (1 / (1 + np.exp(- 4.2 * x))) - 0.5
    
def postprocessor_no_args(df):
    return df.applymap(postprocessor_no_args_helper)

In [57]:
df_holdout = pd.read_csv("../data/test25.csv")
y_valid = df_holdout.target

sub_keras1_X = pd.read_csv("../IPython_Submissions/keras/keras-otto-final-aggregated-1.csv").iloc[:, 1:]
sub_keras2_X = pd.read_csv("../IPython_Submissions/keras/keras-otto-cross_25.csv").iloc[:, 1:]

sub_h2o1_X = pd.read_csv("../h2onewcrossvalidation_100_epochs.csv").iloc[:, 1:]
sub_h2o2_X = pd.read_csv("../h2onewcrossvalidation.csv").iloc[:, 1:]

sub_lasagne_X = pd.read_csv("lasagne-otto-final-25.csv").iloc[:, 1:]

sub_xgb1_X = pd.read_csv("../IPython_Submissions/xgboostpython_25.csv").iloc[:, 1:]
sub_xgb2_X = pd.read_csv("../IPython_Submissions/xgboostpython_25_2.csv").iloc[:, 1:]

# Best (0.4842)
{'h2o2': 0.1485784277125165, 'h2o1': 0.2086879926921451, 'delta': 0.07525686376394913, 'lasagne': 0.06622641736203685, 'keras1': 0.6082247004109025, 'keras2': 0.46473128923136875, 'factor': 0.018501755643161387, 'xgb1': 0.9995725396719578, 'xgb2': 0.7378145263466309}

In [155]:
def objective(params):

    sub = params['keras1'] * sub_keras1_X + \
          params['keras2'] * sub_keras2_X + \
          params['h2o1'] * sub_h2o1_X + \
          params['h2o2'] * sub_h2o2_X + \
          params['lasagne'] * sub_lasagne_X + \
          params['xgb1'] * sub_xgb1_X + \
          params['xgb2'] * sub_xgb2_X
    
    factors = params['keras1'] + params['keras2'] + params['h2o1'] + params['h2o2'] + params['lasagne'] + params['xgb1'] + params['xgb2']
    
    sub = sub / factors
    
    # Postprocessing
    #sub = postprocessor(sub,
    #                    delta = params['delta'],
    #                    factor = params['factor'])

    #sub = postprocessor_platt(sub,
    #                    a = params['delta'],
    #                    b = params['factor'])

    sub = postprocessor_no_args(sub)
    
    ll = logloss_mc(y_valid, sub)
    print(ll)
    return {'loss' : ll,
            'status' : STATUS_OK}


trials = Trials()

best = fmin(fn=objective,
    space=space,
    algo=tpe.suggest,
    max_evals=300,
    trials=trials)

print best

0.49045081836
0.488987422842
0.486839509209
0.486594619561
0.486639677244
0.489507735582
0.483406665775
0.490067632335
0.491416072633
0.482989228198
0.490254002628
0.500014094495
0.495629374596
0.49161097618
0.491133981172
0.499509923966
0.483167454791
0.490854167255
0.493295973059
0.491335981611
0.482799230893
0.487447603817
0.485362518508
0.484066126762
0.482782671603
0.486477008635
0.485243026889
0.48568669616
0.485836804478
0.483043191296
0.484296661133
0.483724466069
0.48307318326
0.482987597066
0.48614064284
0.48817055627
0.487621826949
0.484524771028
0.48309971895
0.488734556413
0.491433751127
0.48696151569
0.486818238163
0.481785227214
0.484558860744
0.485767435689
0.488723051772
0.487024290034
0.482314408705
0.485356284437
0.482280776308
0.490097116573
0.489452111073
0.490219545089
0.494923046577
0.489825226337
0.516295491805
0.497509489614
0.490397119079
0.483606689594
0.48911054233
0.489449705155
0.486189388204
0.486272169637
0.488480744525
0.485970365984
0.483637979326
0.482459150151
0.482442853337
0.482465424822
0.483038489062
0.48367351402
0.482038590684
0.481884463929
0.482222368798
0.484243973598
0.483648509348
0.483597734029
0.483099645784
0.484194218509
0.483431472161
0.482390255842
0.481981902771
0.482717892199
0.483847979483
0.483644986561
0.488628649619
0.482776813619
0.484979183297
0.483426595291
0.483600291237
0.485725966205
0.486793982837
0.483666296449
0.48227846608
0.487869697171
0.485151221379
0.485435350194
0.482207006343
0.486721318666
0.482714889638
0.483246317314
0.489742066043
0.482890403598
0.484681841437
0.484393355149
0.484869707529
0.481770467347
0.481943200109
0.483528017737
0.483017311665
0.482908677058
0.489214774048
0.488851725987
0.48395035379
0.482656985314
0.487624701148
0.48240637451
0.483563653525
0.485393480767
0.48443413628
0.484062383856
0.486354723847
0.485585777216
0.484498904144
0.490378466992
0.486995492088
0.484486158246
0.482504767911
0.486723203646
0.484871146893
0.482957861465
0.48915834941
0.48235761223
0.482768197971
0.48804634018
0.482574226721
0.482154678803
0.48385060914
0.483288851251
0.484891331256
0.489130117677
0.489653487406
0.484196653083
0.485468499058
0.482048861979
0.482106961041
0.482854504256
0.482310623598
0.482748579867
0.482592040497
0.482470557555
0.481998735502
0.481944587512
0.483323283555
0.483692684765
0.48211820778
0.485280367804
0.482516744248
0.482273365211
0.482015578407
0.482098928913
0.48258854073
0.482369409824
0.482507823152
0.481788595437
0.483406572761
0.482350835708
0.48396623097
0.482906870084
0.481824435938
0.482723888913
0.482880870722
0.482760251127
0.484845930854
0.482837854552
0.485093289894
0.484290486986
0.483876686374
0.483436776647
0.483161957308
0.486346637942
0.486851480122
0.49023363082
0.489732203734
0.483063856468
0.487981452156
0.50127980028
0.484582656001
0.488633748172
0.488251121818
0.487909090121
0.483147525492
0.484767957361
0.482570081478
0.489917929283
0.485564894333
0.493194182028
0.485495100636
0.485065821916
0.489351329738
0.482977540869
0.483472015914
0.483759217733
0.483425220306
0.487918637585
0.48307959232
0.484056514248
0.482281418576
0.482827058534
0.484682717831
0.483022316111
0.48269812869
0.488762674322
0.485534506791
0.483388498312
0.484372390533
0.483927833123
0.483660644388
0.487439340323
0.482495739391
0.483886874473
0.486725908477
0.482429507905
0.485482420585
0.487915602234
0.481900637051
0.490518150269
0.482150500166
0.490296922652
0.482895162361
0.482880338878
0.48448569451
0.482720985776
0.482611567787
0.48696215671
0.483311270051
0.48366276083
0.485385624506
0.487504282727
0.487218661052
0.483151634795
0.48382061013
0.482743291102
0.49511328857
0.481733779095
0.482322476055
0.482147263458
0.482702044378
0.485501284214
0.482526669768
0.483079366549
0.482001808086
0.482323066687
0.481711196822
0.482249387147
0.483163126334
0.481706798583
0.481959498076
0.482066280641
0.482302624297
0.481637914573
0.481917760786
0.481898018467
0.484560542601
0.481717219212
0.481857515643
0.482347528687
0.482561377629
0.482397534386
0.482596619181
0.482130823285
0.481696279948
0.483737392132
0.481837015601
0.482255351329
0.481974140052
0.481814895844
0.482674995124
0.482325566613
0.482314822678
0.481914160147
0.482815446317
0.481945599471
0.48212143987
0.484598102737
0.481859278584
0.4826386008
0.485209684407
0.485795924207
0.482150165718
0.482600211175
0.482173673662
0.482488213021
0.482463814468
0.482439896489
0.482599521659
0.482717734507
0.484341726815
0.483886827667
{'h2o2': 0.11490839547422146, 'h2o1': 0.44267236811822785, 'lasagne': 0.14107917341464754, 'keras1': 0.15862680925623984, 'keras2': 0.7237494443790404, 'xgb1': 0.8572738556801409, 'xgb2': 0.9969113143178001}

In [156]:
trials.best_trial

{'book_time': datetime.datetime(2015, 5, 18, 21, 28, 36, 448000),
 'exp_key': None,
 'misc': {'cmd': ('domain_attachment', 'FMinIter_Domain'),
  'idxs': {'h2o1': [261],
   'h2o2': [261],
   'keras1': [261],
   'keras2': [261],
   'lasagne': [261],
   'xgb1': [261],
   'xgb2': [261]},
  'tid': 261,
  'vals': {'h2o1': [0.44267236811822785],
   'h2o2': [0.11490839547422146],
   'keras1': [0.15862680925623984],
   'keras2': [0.7237494443790404],
   'lasagne': [0.14107917341464754],
   'xgb1': [0.8572738556801409],
   'xgb2': [0.9969113143178001]},
  'workdir': None},
 'owner': None,
 'refresh_time': datetime.datetime(2015, 5, 18, 21, 28, 37, 276000),
 'result': {'loss': 0.48163791457268035, 'status': 'ok'},
 'spec': None,
 'state': 2,
 'tid': 261,
 'version': 0}

In [46]:
ll = logloss_mc(y_valid, sub_h2o2_X)
ll

0.69808860164233